.benefitContainer {
  flex: 1 1 0px;
  padding: 20px;
  justify-content: center;
}

.image {
  height: 450px;
}

.text {
  margin-top: 5px;
  font-size: 25px;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .image {
    height: 700px;
  }
}
@media screen and (max-width: 430px) {
  .image {
    height: 600px;
  }
}
@media screen and (max-width: 360px) {
  .image {
    height: 500px;
  }
}
