.benefitContainer {
    flex: 1 1 0px;
    padding: 20px;
    justify-content: center;
}

.image {
    height: 400px;
}

.text {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

@media screen and (max-width: 840px) {
    .benefitContainer {
        padding: 10% 0;
    }
    .image {
        height: 700px;
    }
}
