.locationContainer {
  padding: 2.5% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.text {
  font-size: 18px;
  margin-top: 32px;
}

.locationsContainer {
  display: flex;
  padding: 0 15%;
}

.image {
  width: 300px;
  height: 200px;
}

@media screen and (max-width: 1225px) {
  .image {
    width: 250px;
    height: 180px;
  }
}
@media screen and (max-width: 925px) {
  .image {
    width: 200px;
    height: 160px;
  }
}

@media screen and (max-width: 840px) {
  .image {
    width: 280px;
    height: 200px;
  }
  .text {
    font-size: 25px;
  }
}
@media screen and (max-width: 380px) {
  .image {
    width: 250px;
    height: 180px;
  }
}
