.footerContainer {
    background-color: #0c5449;
    padding: 1% 20% 1%;

    display: flex;
    justify-content: space-between;

    color: #5ba59a;
    text-align: left;
}

.left {
    display: flex;
    gap: 15px;
}

.link {
    color: #5ba59a;
    text-decoration: none;
}

.link:hover {
    color: #327268;
}

.copyright {
    font-family: "Source Code Pro", monospace;
    letter-spacing: -1.2px;
}
